#won, #lost{
    display:none;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.4);
    height: 100px;
    width: 200px;
   position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 375px;
}

@font-face {
    font-family: myFirstFont;
    
    src: url(../ARCADECLASSIC.TTF);
    
}


#word, #letters{
    padding: 20px 0px;
    
}
#word{
    color: #ffffff;
}

#hintBtn{
    color: black;
}
#man{
    margin: 20px auto;
    width: 500px;
    height: 500px;
    border: solid;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    
}

.message{
    color: white;
}

body{

    background-image: url("../img/space.jpg");

}
header{
    color: #ffffff;
   
    text-align: center;
    font-size: 60px;
   
}

#word{
    font-size: 1.8em;
    
}

.hint{
    font-size: 0.6em !important;
}

.btn{
    padding: 7px 7px !important;
    margin: 0px 2px;

}